/*NAVBAR*/

.Navbar {
  width: 100%;
  padding: 0.5rem 0;
  background-color: $dark-blue;

  &__brand {
    color: $white;

    display: flex;
    align-items: center;

    &:hover {
      color: $white;
      text-decoration: none;
    }

    &-logo {
      margin-right: 0.5rem;
    }
  }
}

