.Badges {
  .Badges__hero {
    width: 100%;
    padding: 2rem 0;
    background: $hero-background;
    background-repeat: repeat;
    margin-bottom: 1rem;

    &>.Badges__container {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__container {
    width: 100%;
    max-width: 580px;
    margin: 0 auto;
    padding: 0 1rem;
  }

  &__conf-logo {
    margin-bottom: 2rem;
  }

  &__buttons {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 1rem;
  }
}