/*BUTTONS*/

.btn {
  padding: 0.375rem 2rem;
  @each $class in ($btn-classes) {

    $color: $platzi-primary;
    $shadow: $primary-shadow-focus;

    @if $class == 'danger' {
      $color: $platzi-danger;
      $shadow: $danger-shadow-focus
    }

    &.btn-#{$class} {

      @include btn-class($color);

      &:not(:disabled):not(.disabled) {

        &:hover, &:active {

          @include btn-class($color);
        }

        &:focus {
          box-shadow: $shadow;
        }

      }
    }
  }
}